[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchtext = "*"
spacy = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
jupyter = "*"
jupyterlab = "*"
gdown = "*"
flake8 = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
